body {
background-color:#ffebcd;
padding: 10px 200px;
font-family: 'Bona Nova', sans-serif;
}

.logo {
    border-radius: 50%;
    transition: all ease-in-out 1s;
}

.logo:hover {
    transform: scale(1.5);
}

hr {
    background-image: linear-gradient(to right, #fff, #000, #fff);
    height: 1px;
    border: none;
} 

h1 {
    text-align: center;
}